.to-do-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.to-do-list .item {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 10px;
  border-radius: 5px;
}
.to-do-list .item p {
  font-weight: bold;
  font-size: 20px;
}
.to-do-list .item button {
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
}
.to-do-list .item button:hover {
  background-color: black;
  color: aliceblue;
  cursor: grabbing;
}
.empty {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.empty p {
  font-weight: bold;
  font-size: 24px;
}
